.mosaic-content {
      max-width: 1270px;
      margin: 0 auto;
}
img {
  max-width: 100%;
  display: block; }

.mosaic-gallery {
      width: 1170px;
      margin: 0px auto;
      columns: 4;
      column-gap: 0px;
}
.mosaic-content .mosaic-title {
      padding: 55px;
      text-align: center;
}
.mosaic-gallery .mosaic-gallery-item {
      padding: 0px;
      overflow: hidden;
      break-inside: avoid;
      border: 2px solid #81bb27;
      position: relative;
}
.mosaic-gallery .mosaic-gallery-item:nth-child(1) {
      border-right: 1px solid #81bb27;
}
.mosaic-gallery .mosaic-gallery-item:nth-child(2),
.mosaic-gallery .mosaic-gallery-item:nth-child(3) {
      border-left: 1px solid #81bb27;
      border-right: 1px solid #81bb27;
}
.mosaic-gallery .mosaic-gallery-item:nth-child(4) {
      border-left: 1px solid #81bb27;
}
.mosaic-gallery-item.mosaic-horizontal .mosaic-gallery-img {
      width: 292px;
      height: 198.8px;
      margin: auto;
}
.mosaic-gallery-item.mosaic-horizontal .mosaic-gallery-img {
      position: relative;
      overflow: hidden;
}
.mosaic-gallery-item.mosaic-horizontal .mosaic-gallery-img {
      -webkit-transform: scale(1);
      transform: scale(1);
}
.mosaic-gallery-item.mosaic-horizontal:hover .mosaic-gallery-img {
      -webkit-transform: scale(1.06);
      transform: scale(1.06);
      -webkit-filter: blur(1.5px);
      filter: blur(1.5px);
}
.mosaic-gallery-item.mosaic-horizontal .mosaic-gallery-img,
.mosaic-gallery-item.mosaic-horizontal:hover .mosaic-gallery-img {
      -webkit-transition: transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.mosaic-gallery-item.mosaic-horizontal .mosaic-gallery-hover,
.mosaic-gallery-item.mosaic-horizontal:hover .mosaic-gallery-hover {
      background: linear-gradient(180deg,rgba(0,0,0,.2) 0,rgba(0,0,0,.199) 3.5%,rgba(0,0,0,.195) 7%,rgba(0,0,0,.19) 10.35%,rgba(0,0,0,.182) 13.85%,rgba(0,0,0,.174) 17.35%,rgba(0,0,0,.165) 20.85%,rgba(0,0,0,.155) 24.35%,rgba(0,0,0,.145) 27.85%,rgba(0,0,0,.135) 31.35%,rgba(0,0,0,.126) 34.85%,rgba(0,0,0,.118) 38.35%,rgba(0,0,0,.11) 41.85%,rgba(0,0,0,.105) 45.35%,rgba(0,0,0,.1) 48.85%,rgba(0,0,0,.103) 52.35%,rgba(0,0,0,.112) 55.85%,rgba(0,0,0,.126) 59.35%,rgba(0,0,0,.144) 62.85%,rgba(0,0,0,.165) 66.35%,rgba(0,0,0,.188) 69.85%,rgba(0,0,0,.213) 73.35%,rgba(0,0,0,.237) 76.85%,rgba(0,0,0,.262) 80.35%,rgba(0,0,0,.285) 83.85%,rgba(0,0,0,.306) 87.35%,rgba(0,0,0,.324) 90.85%,rgba(0,0,0,.338) 94.35%,rgba(0,0,0,.347) 97.85%,rgba(0,0,0,.35));
      text-align: center;
      -webkit-transition: ease-out 0.3s;
      transition: ease-out 0.3s;
      position: absolute;
      width: 292px;
      height: 198.8px;
      margin: auto;
      top: 0;
      left: 0;
}
.mosaic-gallery-item.mosaic-horizontal .mosaic-gallery-hover {
      visibility: hidden;
      opacity: 0;
}
.mosaic-gallery-item.mosaic-horizontal:hover .mosaic-gallery-hover {
      visibility: visible;
      opacity: 1;
}
.mosaic-gallery-item.mosaic-horizontal .mosaic-gallery-hover .mosaic-gallery-hover-box {
      text-shadow: -1px -1px 2px rgba(0,0,0,.4), 1px 1px 2px rgba(0,0,0,0.6), 0px 0px 0.9px rgba(255,255,255,1);
}
.mosaic-gallery-item.mosaic-horizontal .mosaic-gallery-hover .mosaic-gallery-hover-box .product-name,
.mosaic-gallery-item.mosaic-horizontal .mosaic-gallery-hover .mosaic-gallery-hover-box .mosaic-product-clave {
      color: #fff;
      font-size: 17px;
      -webkit-transition: -webkit-transform .3s, opacity .3s;
      -webkit-transition: opacity .3s, -webkit-transform .3s;
      transition: opacity .3s, -webkit-transform .3s;
      -o-transition: transform .3s, opacity .3s;
      transition: transform .3s, opacity .3s;
      transition: transform .3s, opacity .3s, -webkit-transform .3s;
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
      display: flex;
      position: relative;
      flex-direction: row;
      justify-content: center;
      -ms-flex-align: center !important;
      align-items: center !important;
}
.mosaic-gallery-item.mosaic-horizontal:hover .mosaic-gallery-hover .mosaic-gallery-hover-box .product-name,
.mosaic-gallery-item.mosaic-horizontal:hover .mosaic-gallery-hover .mosaic-gallery-hover-box .mosaic-product-clave {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
}
.mosaic-gallery-item.mosaic-horizontal .mosaic-gallery-hover .mosaic-gallery-hover-box .product-name {
      text-transform: uppercase;
      margin-bottom: 0;
}
.mosaic-gallery-item.mosaic-horizontal .mosaic-gallery-hover .mosaic-gallery-hover-box .mosaic-product-clave {
      font-size: 13px;
      font-weight: normal;
}
.mosaic-gallery-item.mosaic-horizontal:hover .mosaic-gallery-hover .mosaic-gallery-hover-box .mosaic-content-button {
      display: flex;
      position: relative;
      flex-direction: row;
      justify-content: center;
      -ms-flex-align: center !important;
      align-items: center !important;
}
.mosaic-gallery-item.mosaic-horizontal:hover .mosaic-gallery-hover .mosaic-gallery-hover-box .mosaic-content-button .mosaic-button-link,
.mosaic-gallery-item.mosaic-horizontal:hover .mosaic-gallery-hover .mosaic-gallery-hover-box .mosaic-content-button .mosaic-button-link:hover {
      -webkit-transition: ease-out 0.3s;
      transition: ease-out 0.3s;
}
.mosaic-gallery-item.mosaic-horizontal:hover .mosaic-gallery-hover .mosaic-gallery-hover-box .mosaic-content-button .mosaic-button-link {
      display: inline-flex;
      pointer-events: auto;
      color: #81bb27;
      fill: currentColor;
      background-color: rgb(255, 255, 255);
      border: 1px solid #00000045;
      margin: 40px auto;
      padding: 7px;
      font-size: 50px;
      line-height: 30px;
      border-radius: 100%;
      text-align: center;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      text-decoration: none;
      font-weight: 500;
      box-shadow: -1px -1px 27px rgba(0,0,0,.2), 1px 1px 35px rgba(0,0,0,0.3), 0px 0px 35px rgba(255,255,255,1);
      text-shadow: -1px -1px 1px rgba(255,255,255,.4), 1px 1px 1px rgba(255,255,255,0.6), 0px 0px 1px rgba(0,0,0,1);
}
.mosaic-gallery-item.mosaic-horizontal:hover .mosaic-gallery-hover .mosaic-gallery-hover-box .mosaic-content-button .mosaic-button-link:hover {
      color: rgb(255, 255, 255);
      fill: currentColor;
      background-color: #81bb27;
      box-shadow: -1px -1px 27px rgba(255,255,255,.2), 1px 1px 35px rgba(255,255,255,0.3), 0px 0px 35px rgba(0,0,0,1);
}
