.mosaic-content {
      max-width: 1270px;
      margin: 0 auto;
}
img {
  max-width: 100%;
  display: block; }

.mosaic-gallery {
      width: 1170px;
      margin: 0px auto;
      columns: 4;
      column-gap: 0px;
}
.mosaic-gallery .mosaic-gallery-item {
      padding: 0px;
      overflow: hidden;
      break-inside: avoid;
      border: 2px solid #81bb27;
}
.mosaic-gallery .mosaic-gallery-item:nth-child(1) {
      border-right: 1px solid #81bb27;
}
.mosaic-gallery .mosaic-gallery-item:nth-child(2),
.mosaic-gallery .mosaic-gallery-item:nth-child(3) {
      border-left: 1px solid #81bb27;
      border-right: 1px solid #81bb27;
}
.mosaic-gallery .mosaic-gallery-item:nth-child(4) {
      border-left: 1px solid #81bb27;
}
.mosaic-gallery-item.mosaic-horizontal .mosaic-gallery-img {
      width: 292px;
      height: 198.8px;
      margin: auto;
}
.mosaic-gallery-item.mosaic-horizontal .mosaic-gallery-img {
      position: relative;
      overflow: hidden;
}
.mosaic-gallery-item.mosaic-horizontal .mosaic-gallery-img {
      -webkit-transform: scale(1);
      transform: scale(1);
}
.mosaic-gallery-item.mosaic-horizontal:hover .mosaic-gallery-img {
      -webkit-transform: scale(1.06);
      transform: scale(1.06);
}
.mosaic-gallery-item.mosaic-horizontal .mosaic-gallery-img,
.mosaic-gallery-item.mosaic-horizontal:hover .mosaic-gallery-img {
      -webkit-transition: transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.mosaic-gallery-item.mosaic-horizontal .mosaic-gallery-hover {
      visibility: hidden;
      opacity: 0;
      background: rgba(24,27,30,0);
      text-align: center;
      -webkit-transition: ease-out 0.3s;
      transition: ease-out 0.3s;
}
.mosaic-gallery-item.mosaic-horizontal:hover .mosaic-gallery-hover {
      visibility: visible;
      opacity: 1;
      background: rgba(24,27,30,0.3);
      text-align: center;
      -webkit-transition: ease-out 0.3s;
      transition: ease-out 0.3s;
      position: relative;
      top: 0;
      /* left: 0; */
      /* right: 0; */
      /* bottom: 0; */
      width: 292px;
      height: 198.8px;
      margin: auto;
}
